<!DOCTYPE html>
<html>
  <head>
    <title>Who 'Dat?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <main>
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "whodat.svg" %>
        <% end %>
      </div>

      <%= yield %>
    </main>
  </body>
</html>
